.cabecalho {
    background-color: #49005E;
    color: aliceblue;
    padding: 10px;
    display: flex
}

.section1 {
    background-color: #49005E;
    padding: 2px;
    width: 5%;

}

.section2 {
    background-color: #49005E;
    padding: 2px;
    width: 1%;
}

.section3 {
    background-color: #49005E;
    padding: 2px;
    width: 2%;
}

.section4 {
    background-color: #49005E;
    padding: 2px;
    width: 2%;
}

.section5 {
    background-color: #49005E;
    padding: 2px;
    width: 2%;
}

.cabecalho-imagem {
    width: 20%;
}

.rodape {
    background-color: #49005E;
}