.cabecalho {
    background-color: #49005E;
    color: aliceblue;
    padding: 10px;
    display: flex 
}

.section1 {
    background-color: #49005E;
    padding: 20px;

}

.section2 {
    background-color: #49005E;
    padding: 5px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: #49005E;
}