.cabecalho {
    background-color: #49005E;
    color: aliceblue;
    display: flex padding: 10px;
}

.section1 {
    background-color: #49005E;
    padding: 20px;

}

.section2 {
    background-color: #49005E;
    padding: 20px;
}

.cabecalho-imagem{
    width: 20%;
}